h2{
    font-size: 45px;
    color: #4a4a4a;
    line-height: 55px;
    display: block;
    text-align: center;
    letter-spacing: -0.01em;
    width: 100%;
}
h3{
    color: #4a4a4a;
    font-size: 35px;
    line-height: 40px;
    width: 100%;
    font-family: arial;
}
p {
    margin-top: 30px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 15px;
    line-height: 30px;
    color: #626262;
}
.wrap-con{
    height: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    font-family: arial;
    padding-bottom: 452px;
}
.bg{
    width: 100%;
    height: 100%;
    background: #fcfcfc url('../img/noise.png') 0 0;
    position: relative;
    min-height: 755px;
    z-index: 1;
}
.page-header{
    width: 100%;
    height: 100%;
    min-height: 664px;
    overflow: hidden;
    background: url(../img/bg-jobs.jpg) no-repeat;
    text-align: center;
    position: relative;
    color: #fff;
   	background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.video-container{
	position: absolute;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
}
.bg-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #E94B85;
	opacity: 0.15;
}
.conten-over{
	position: absolute;
    vertical-align: middle;
    width: 100%;
    top: 33%;
    z-index: 1;
}
.conten-over h2{
	font-size: 50px;
	padding: 20px;
    color: #fff;
    line-height: 55px;
    display: block;
    letter-spacing: -0.01em;
    width: 100%;
    font-family: "arial, helvetica, sans-serif";
}
.conten-over p{
	line-height: 30px;
    color: #fff;
    max-width: 780px;
   	margin: 0 auto;
    margin-top: 30px;
	font-size: 1.25em;
    font-family: arial}
.btn-play{
	margin: 7% auto 2%;
    display: block;
    height: 100px;
    width: 100%;
    max-width: 100px;
    /*background-image: url('../img/play.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    border-bottom: none;
}
article.team_list {
    padding-bottom: 0px;
}
article.brick {
    background: url('../img/brick_pattern.png') 0 40px;
}
article img {
    display: block;
    position: relative;
    margin: 0 auto 60px;
    max-width: 100%;
}
.group{
    zoom: 1;
}
article {
    padding-top: 55px;
    position: relative;
    display: block;
}
.middle {
    text-align: center;
    font-family: roman;
}
.middle span{
	font-family:  "book antiqua";
}
div.team_bio {
    overflow: hidden;
}
.group{
	zoom: 1;
}
.center {
    width: 100%;
    margin: 0 auto;
    max-width: 990px;
}
.team_bio div.view {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    margin-left: -50px;
    max-width: 591px;
    max-height: 446px;
    position: relative;
}
div.team_bio h3 {
    margin-top: 30px;
    padding-top: 60px;
    font-family: roman;
}

div.team_bio h4 {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #797979;
    font-family: arial;
    letter-spacing: .07em;
    font-weight: normal;
    text-transform: uppercase;
}
div.team_bio p {
    margin-top: 20px;
}
article p {
    text-align: left;
}
.team_bio .social_icons {
    display: none;
    position: absolute;
    width: 41px;
    height: 41px;
}
/*&&second&&*/
div.team_bio.divider {
    margin-top: 0px !important;
    padding-top: 0px;
}
div.divider.grey {
    background: rgba(217,217,217,0.1);
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
div.team_bio {
    overflow: hidden;
    position: relative;
}
div.divider {
    margin-top: 60px;
    padding-top: 60px;
    position: relative;
}
div.team_bio.right div.view {
    float: right;
    margin: 0px 0 0 1px;
    margin-right: -50px;
    padding-bottom: 0px;
}
/*雪碧图*/
div.team_bio a.twitter, div.team_bio a.instagram, div.team_bio a.linkedin, div.team_bio a.googleplus, div.team_bio a.dribbble, div.team_bio a.steam, div.team_bio a.email, div.team_bio a.strava {
    background-image: url('../img/team/social_sprite.png');
    background-position: 0 0;
    background-size: 41px auto;
    z-index: 10;
    position: absolute;
    display: block;
    width: 41px;
    height: 41px;
}
div.team_bio a.twitter {
    background-position: 0 -492px;
}
div.team_bio a.instagram {
    background-position: 0 -123px;
}
div.team_bio a.linkedin {
    background-position: 0 -369px;
}
div.team_bio a.steam {
    background-position: 0 -615px;
}
div.team_bio a.googleplus {
    background-position: 0 0;
}
div.team_bio a.dribbble {
    background-position: 0 -246px;
}
div.team_bio a.email {
    background-position: 0 -697px;
}
/*-end-*/
div.divider.grey.timeline {
    height: 810px;
    overflow: hidden;
}
div.divider.grey article {
    padding-bottom: 89px;
    padding-top: 0px;
}
div.divider.no-gap {
    margin-top: 0;
}
div.divider.grey {
    background: rgba(217,217,217,0.1);
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.large{
	font-family: "arial, helvetica, sans-serif";
}
#timeline {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 200px;
    height: 537px;
    cursor: url("../img/team/drag.cur"), w-resize;
}
#timeline .line {
    height: 1px;
    background: #b3aeb1;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -5px;
    min-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 5;
}
div.team_bio a.twitter:hover{
	background-position-y: -574px;
}
div.team_bio a.steam:hover{
	background-position-y: -656px;
}
div.team_bio a.dribbble:hover{
	background-position: 0 -287px;
}
div.team_bio a.instagram:hover{
	background-position-y: -205px;
}
div.team_bio a.linkedin:hover{
	background-position-y: -451px;
}
div.team_bio a.googleplus:hover{
	background-position-y: -82px;
}
div.team_bio a.email:hover{
	background-position-y: -738px;
}
/* ---- timeline------*/
#timeline .month {
    text-align: center;
    font-family: arial;
    color: #b3aeb1;
    background: url(../img/icon/timeline_month.png) no-repeat 0 0;
    width: 62px;
    height: 51px;
    padding-top: 31px;
    position: absolute;
    z-index: 5;
    top: -40px;
    margin-top: 5px;
}
#timeline .event {
    display: block;
    min-width: 47px;
    height: 48px;
    overflow: visible;
    position: absolute;
    bottom: -20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 6;
}
#timeline .event.down {
    top: 10px;
    bottom: auto;
}
#timeline .event .content {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    color: #4a4a4a;
    border: 1px solid #b3aeb1;
    width: 310px;
    margin-left: -134px;
    padding: 25px 20px;
    font-size: 19.8px;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    top: 0px;
    z-index: 5;
}
#timeline .content span img{
	width: 150px;
	float: left;
	display: block;
}
#timeline .content span.title{
	float: left;
	font: 14px/24px "微软雅黑";
	display: block;
	width: 100px;
	padding-left: 10px;
	height: 150px;
}
#timeline .event span.stroke {
    display: block;
    width: 1px;
    height: 270px;
    background: #b3aeb1;
    position: absolute;
    top: 0px;
    left: 22px;
}
#timeline .event.down span.stalk {
    bottom: 0px;
    top: auto;
}
#timeline .event.down .content {
    top: auto;
    bottom: 24px;
}
#timeline .event.down a.event {
    bottom: 0px;
    top: auto;
}
#timeline .event a.event {
    background: url(../img/team/timeline-icon-sprites.png) no-repeat 0 0;
    display: block;
    width: 47px;
    height: 48px;
    position: absolute;
    top: -24px;
    right: 0px;
    z-index: 6;
}
#timeline .event a.event.life {
    background-position: -238px 0;
}
#timeline .event a.event.office {
    background-position: -382px 0;
}
#timeline .event a.event.lunch {
    background-position: -334px 0;
}
#timeline .event a.event.blog {
    background-position: -47px 0;
}
#timeline .event a.event.site {
    background-position: -286px 0;
}
#timeline .event a.event.twitter {
    background-position: -95px 0;
}
#timeline .event a.event.dribbble {
    background-position: -190px 0;
}
#timeline .event a.event.facebook {
    background-position: -142px 0;
}
#timeline .event a.event:hover {
    background-position-y: -48px;
}
/*---timeline end----*/